/* Importar Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Configuración global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group-text {
  background: #e9ecef;
  border: none;
  border-radius: 10px 0 0 10px;
}

.input-group input {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px 15px;
  border-radius: 0 10px 10px 0;
}

.input-group input:focus {
  border: 1px solid #007bff;
}

button {
  background: #007bff;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}
